/** {
　font-family: 'Source Sans Pro','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
}*/
.bg {
  /*background-image: url(../images/e0e0e0.png);*/
  background-color: #F1F2F6;
}
a {
  text-decoration: none;
}
/*.jumbotron-bg {
  background-color: #000;
}*/

/* Simple Sharing Buttons Generaor */
.share-buttons{
  list-style: none;
}

.share-buttons li{
  display: inline;
}
/***************/

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.dummy {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    /*
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    */
    text-align:center;
    margin: 5px;
    /*padding-top:calc(50% - 30px); */
}
.thumb-pict {
  border: 1px solid #ddd;;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4), 5px 5px 10px rgba(255,255,255,0.3) inset, -5px -5px 10px rgba(255,255,255,0.3) inset;
  margin-bottom: 20px;
}

.pict-discription {
  float: left;
  margin: 0px 20px;
}

.sidebar-arrow {
  margin-right: 20px;
}

.scroll-pict {
  /*float: left;*/
  width: auto;
  max-height: 200px;
/*  width: 128px;
  line-height: 128px;
  text-align: center;*/
  border: 1px solid #888;
  margin: 15px;
}

.box {
  float: left;
  margin-left: -20px;
}

.box img{
  width: auto;
  max-height: 300px;
  margin: 0px 20px 20px;
}

.box-container {
  display: block;
  border: 1px solid #dddddd;
  background-color: #f9f9f9;
  /* color:#0000FF; */
  overflow: auto;
  /*padding: 2px 2px 2px 2px;*/
  margin-left: 10px;
}

/* clearfix */
.box-container:before,
.box-container:after {
    content: "";
    display: table;
}
 
.box-container:after {
    clear: both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.box-container {
    zoom: 1;
}

.hidden-scrollbar {
  overflow:hidden;
}

.icon-retweet {
  color: #85B95E;
}

.icon-star {
  color: #FF9B00;
}

.icon-twitter {
  color: #009FE9;
}

.panel-padding-bottom {
  padding-bottom: 20px;
}

.no-li {
  margin-left: 0px;
  list-style-type: none;
}
.done-true {
  color: #808080;
  text-decoration: line-through;
}
.search-user-form {
  padding: 10px 0 10px 0;
}
.search-user-form-popup {
  padding: 0px 0 18px 0;
}
/*.panel-scroll-bar {
  max-height: 740px;
  overflow-y: scroll; 
}
.panel-scroll-bar-tweet {
  max-height: 690px;
  overflow-y: scroll; 
}
.panel-scroll-bar-popup {
  max-height: 400px;
  overflow-y: scroll; 
}*/
.tweet-side-bar {
  padding: 54px 0 0 0;
}
.connect {
  padding-top: 50px;
}
.basic-content {
  padding: 40px 15px;
  text-align: center !important;
}
.thumnail-icon {
  /* max-width: 64px; ¥Ä¥¤©`¥È¤ÈºÏ¤ï¤»¤ë¤Ê¤é48px*/
  max-width: 48px;
  height: auto;
}
.show-tweet-panel {
  cursor: pointer;
}
.username {
  font-weight: bold;
}

.nav-custom {
  border: 1px solid;
}

.search-form {
  margin-bottom: 20px;
}


@media (max-width: 767px) {
  .tweet-number {
    font-size: 100px;
    position: absolute;
    right: 12px;
    bottom: 9px;
    font-weight: bold;
    color: #e5e5e5;
    z-index:1;
    line-height:60px;
  }

  .detail-arrow {
    position: relative;
    cursor:pointer;
    top: 10px;
  }
}

@media (min-width: 768px) {
  .tweet-number {
    font-size: 100px;
    position: absolute;
    right: 12px;
    bottom: 29px;
    font-weight: bold;
    color: #e5e5e5;
    z-index:1;
    line-height:60px;
  }

  .detail-arrow {
    position: relative;
    cursor:pointer;
    top: 10px;
  }
}

/*.line {
  color: #AAB2BD;
  border-bottom: 1px solid;
  padding-bottom: 2px;
}*/

.header {
/*  position: fixed;
  width: 100%;
*/  background-color: rgba(255,255,255,0.5);

}

.sub-text {
  color: #AAB2BD;
  /*text-decoration: underline;*/
}

.hast-tag {
  position: relative;
  left: 20px;
}

.post-date {
  color: #999999;
  font-weight: normal;
}
.user-data {
  color: #999999;
  font-size: 80%;
  font-weight: normal;
}
