/** {
　font-family: 'Source Sans Pro','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
}*/

html, body {
  font-family: YuGothic, 'Yu Gothic', '游ゴシック体', '游ゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'MSPゴシック', 'Osaka', 'MS PGothic', 'Arial', 'Helvetica', 'Verdana', 'sans-serif';
  margin-top: 0;
  /*font-size: 22px;*/
  color: #000;
  height: 100%;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.bg {
  /*background-image: url(../images/e0e0e0.png);*/
  background-color: #F1F2F6;
}

/*.jumbotron-bg {
  background-color: #000;
}*/

/* Simple Sharing Buttons Generaor */
.share-buttons{
  list-style: none;
}

.share-buttons li{
  display: inline;
  margin-left: 7px; /* localでは間隔が空くのにheroku上では動作しないため、追加*/
}
/***************/

.thumb-pict {
  border: 1px solid #ddd;;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4), 5px 5px 10px rgba(255,255,255,0.3) inset, -5px -5px 10px rgba(255,255,255,0.3) inset;
  margin-bottom: 20px;
}

.panel-padding-bottom {
  padding-bottom: 20px;
}

.no-li {
  margin-left: 0px;
  list-style-type: none;
}

.done-true {
  color: #808080;
  text-decoration: line-through;
}

.search-user-form {
  padding: 10px 0 10px 0;
}

.search-user-form-popup {
  padding: 0px 0 18px 0;
}

.tweet-side-bar {
  padding: 54px 0 0 0;
}

.connect {
  padding-top: 50px;
}

.basic-content {
  padding: 40px 15px;
  text-align: center !important;
}

.thumnail-icon {
  /* max-width: 64px; ¥Ä¥¤©`¥È¤ÈºÏ¤ï¤»¤ë¤Ê¤é48px*/
  max-width: 48px;
  height: auto;
}

.username {
  font-weight: bold;
}

.nav-custom {
  border: 1px solid;
}

.search-form {
  margin-bottom: 20px;
}

.media-img {
  margin: 10px 0 0; /* Twitter Webでもツイートと画像の間隔が10pxなので */
}

/* @Override */
.img-rounded {
  width: 100%;
}

@media (max-width: 767px) {
  .tweet-number {
    font-size: 100px;
    position: absolute;
    right: 12px;
    bottom: 9px;
    font-weight: bold;
    color: #e5e5e5;
    z-index:1;
    line-height:60px;
  }

  .detail-arrow {
    position: relative;
    cursor:pointer;
    top: 14px;
  }
}

@media (min-width: 768px) {
  .tweet-number {
    font-size: 100px;
    position: absolute;
    right: 12px;
    bottom: 29px;
    font-weight: bold;
    color: #e5e5e5;
    z-index:1;
    line-height:60px;
  }

  .detail-arrow {
    position: relative;
    cursor:pointer;
    top: 14px;
  }

  .tweet {
    font-size: 16px;
    line-height: 1.7;
  }
}

.header {
/*  position: fixed;
  width: 100%;
*/
  background-color: rgba(255,255,255,0.5);
}

.sub-text {
  color: #AAB2BD;
  /*text-decoration: underline;*/
}

.hast-tag {
  position: relative;
  left: 20px;
}

.post-date {
  color: #999999;
  font-weight: normal;
}

.user-data {
  color: #999999;
  font-size: 80%;
  font-weight: normal;
}

.cursor-pointer {
  cursor: pointer;
}

.on-the-day-event-list {
  position: relative;
  left: 5px;
}

.main {
  margin-top: 40px;
}

.ex-title {
  margin-bottom:20px;
  font-weight:700;
  font-size:24px;
  text-shadow:2px 2px 2px rgba(255,255,255,1)
}

.loading {
  /*color: #37BC9B; /* パネルカラー */
  color: #4FC1E9; /* リンクカラー */
  text-align: center;
  padding: 200px 0 200px 0;
}

.share-addthis {
  padding: 15px 15px;
}

.panel-scroll-bar {
  max-height: 180px;
  overflow-y: scroll;
}

.load-button-space {
  padding: 35px 0 50px 0;
}

/**
 * Event
 */
.event-title {
  line-height: 1.6;
}

/**
 * jumbotron
 */
/* 縦のサイズを合わせるために最低高を設定 */
.jumbotron {
  min-height: 300px;
}

/* それに伴い。、descriptionを展開するための矢印を上からの距離ではなく、底からの距離で位置づける */
.description-arrow {
  /*position: absolute;*/
  /*top: 42px;*/
}

/**
 * Affix
 */
@media (min-width: 768px) {
  .slide__panel-affix {
    margin-right: 10px;
    position:fixed;
    top: 10px;
  }

  .slide__panel--list {
    overflow-y: scroll;
  }

  .scrollable {
    height: 95vh;
    overflow-y: auto;
  }

  .stylish-scrollbar::-webkit-scrollbar {
    width: 4px;
    background-color: transparant;
  }

  .stylish-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4FC1E9;
  }
}