doctype html
html(ng-app="myApp")
  head
    include parts/_meta
    base(href='/')
    title(ng-bind="title")
    include parts/_favicon
    include parts/_style


  body.bg
    block body

  include parts/_script