

.row.main
  .col-md-6.search-form
    .ex-title イベント件数: {{(events | filter:searchWord | extractionTime:selectedTerm.time | extractionTweetNum:selectedTweetNum.num).length}}件
    form.form-horizontal(role='form')
      .form-group
        label.col-sm-2.control-label 開催日
        .col-sm-10
          select.form-control(ng-model='selectedTerm', ng-options='term.label for term in terms')
      .form-group
        label.col-sm-2.control-label ツイート数
        .col-sm-10
          select.form-control(ng-model='selectedTweetNum', ng-options='tweetNum.label for tweetNum in tweetsNum')
      .form-group
        label.col-sm-2.control-label 検索
        .col-sm-10
          .form-search.search-only
                i.search-icon.glyphicon.glyphicon-search
                input.form-control(type="text", ng-model="searchWord")

  .col-md-6.hidden-xs.hidden-sm(ng-show="eventsOnTheDay.length")
    .panel.panel-info
      .panel-heading 本日開催予定のイベント
      base(target='_blank')
      .panel-scroll-bar
        ul.list-group(ng-repeat='eventOnTheDay in eventsOnTheDay')
          li.list-group-item
            a(ng-href='{{eventOnTheDay.eventUrl}}') {{eventOnTheDay.title}}
          //- li.list-group-item(ng-hidden="$index < 3 || showHidden")
          //-   a(ng-href='{{eventOnTheDay.eventUrl}}') {{eventOnTheDay.title}}
          //- li.list-group-item(ng-show="$last && !showHidden")
          //-   a(ng-click="showHidden = !showHidden")
          //-     i.fa.fa-angle-down.fa-2x
          //- li.list-group-item(ng-show="$last && showHidden")
          //-   a(ng-click="showHidden = !showHidden")
            //-     i.fa.fa-angle-up.fa-2x

.row.main(ng-show="events.length")
  div(ng-repeat='event in events | orderBy: "startedAt": true | filter:searchWord | extractionTime:selectedTerm.time | extractionTweetNum:selectedTweetNum.num')
    .col-md-6
      .jumbotron
        .jumbotron-contents.jumbotron-bg
          h3
            a(href="/detail/{{event.serviceName}}/{{event.eventId}}")
             | {{event.title}}
          p
            p.lead.sub-text
              span.line 開催時刻： {{event.startedAt}} ~ {{event.endedAt}}
              span.line.hast-tag # {{event.hashTag}}
          p
            a(slide-toggle="#i{{$index}}")
              i.fa.fa-angle-down.fa-3x.detail-arrow
            .slideable(id="i{{$index}}")
              base(target='_blank')
              span(ng-bind-html="event.description")
              a(slide-toggle="#i{{$index}}")
                i.fa.fa-angle-up.fa-3x.detail-arrow
          span.tweet-number
            | {{event.tweetNum}}

.loading(ng-hide="events.length")
  div(ng-hide="events.length == 0")
    i.fa.fa-spinner.fa-5x.pull-center.fa-spin
  div(ng-show="events.length == 0")
    i.fa.fa-ban.fa-5x.pull-center.text-danger
    .fa-5x No data ...