.footer__buttons-wrapper
  .footer__buttons
    .fotter__inout-wrapper.clickable(scroll-to='body', scroll-on-click)
      span.fa-stack.fa-lg
        //- i.fa.fa-circle-thin.fa-stack-2x
        i.fa.fa-circle.fa-stack-2x
        i.fa.fa-angle-up.fa-stack-1x.icon--clickable