link(rel='stylesheet', href='/bower_components/Bootflat/bootflat/css/bootflat.min.css')
link(rel='stylesheet', href='/bower_components/Bootflat/css/site.min.css')
link(rel='stylesheet', href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
link(rel='stylesheet', href='/css/app.css')